body {
    padding: 0.5px;
  }
  
.card_container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: rgb(246, 253, 253);
    gap: 0px;
}

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(9, 76, 153, 0.342);
    border: 0.5px solid rgba(35, 110, 207, 0.589);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
  }
  
  .card h2 {
    color: #333;
  }
  
  .card p {
    color: #666;
  }